node_modules
build
.history
subgraph.yaml
subgraph.local.yaml
subgraph.ropsten.yaml
subgraph.rinkeby.yaml
subgraph.kovan.yaml
subgraph.mainnet.yaml
.DS_Store

.versionFilesList.json
subgraph.mumbai.yaml
